@layer tokens {
    :where(:root, :host) {
  --durations-0: 0s;
  --durations-1: 0.2s;
  --durations-2: 0.4s;
  --durations-3: 0.6s;
  --durations-4: 0.8s;
  --durations-5: 1.0s;
  --fonts-sans: var(--font-dm-sans), sans-serif;
  --fonts-mono: Courier, monospace;
  --font-sizes-12: 0.75rem;
  --font-sizes-14: 0.875rem;
  --font-sizes-16: 1rem;
  --font-sizes-18: 1.125rem;
  --font-sizes-20: 1.25rem;
  --font-sizes-24: 1.5rem;
  --font-sizes-28: 1.75rem;
  --font-sizes-36: 2.25rem;
  --font-sizes-40: 2.5rem;
  --font-sizes-44: 2.75rem;
  --font-sizes-48: 3rem;
  --font-sizes-56: 3.5rem;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-bold: 700;
  --radii-xs: 0.375rem;
  --radii-sm: 0.5rem;
  --radii-md: 0.625rem;
  --radii-lg: 0.75rem;
  --radii-xl: 1rem;
  --radii-2xl: 1.25rem;
  --radii-full: 9999px;
  --shadows-xs: 0px 0px 5px 0px var(--colors-shadow);
  --shadows-sm: 0px 0px 10px 0px var(--colors-shadow);
  --shadows-md: 0px 0px 20px 0px var(--colors-shadow);
  --sizes-0: 0rem;
  --sizes-2: 0.125rem;
  --sizes-4: 0.25rem;
  --sizes-8: 0.5rem;
  --sizes-12: 0.75rem;
  --sizes-16: 1rem;
  --sizes-20: 1.25rem;
  --sizes-24: 1.5rem;
  --sizes-32: 2rem;
  --sizes-40: 2.5rem;
  --sizes-48: 3rem;
  --sizes-56: 3.5rem;
  --sizes-64: 4rem;
  --sizes-80: 5rem;
  --sizes-96: 6rem;
  --sizes-112: 7rem;
  --sizes-128: 8rem;
  --sizes-144: 9rem;
  --sizes-160: 10rem;
  --sizes-176: 11rem;
  --sizes-192: 12rem;
  --sizes-208: 13rem;
  --sizes-224: 14rem;
  --sizes-240: 15rem;
  --sizes-256: 16rem;
  --sizes-288: 18rem;
  --sizes-320: 20rem;
  --sizes-384: 24rem;
  --sizes-prose: 65ch;
  --sizes-md: 28rem;
  --sizes-lg: 32rem;
  --sizes-xl: 36rem;
  --sizes-2xl: 42rem;
  --sizes-3xl: 48rem;
  --sizes-4xl: 56rem;
  --sizes-5xl: 64rem;
  --sizes-6xl: 72rem;
  --sizes-7xl: 80rem;
  --sizes-8xl: 90rem;
  --sizes-full: 100%;
  --sizes-min: min-content;
  --sizes-max: max-content;
  --sizes-fit: fit-content;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --spacing-0: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-112: 7rem;
  --spacing-128: 8rem;
  --spacing-144: 9rem;
  --spacing-160: 10rem;
  --spacing-176: 11rem;
  --spacing-192: 12rem;
  --spacing-208: 13rem;
  --spacing-224: 14rem;
  --spacing-240: 15rem;
  --spacing-256: 16rem;
  --spacing-288: 18rem;
  --spacing-320: 20rem;
  --spacing-384: 24rem;
  --z-index-dialog: 100;
  --z-index-dropdown: 200;
  --z-index-toast: 300;
  --colors-50: hsl(var(--color-theme-50) / <alpha-value>);
  --colors-100: hsl(var(--color-theme-100) / <alpha-value>);
  --colors-200: hsl(var(--color-theme-200) / <alpha-value>);
  --colors-300: hsl(var(--color-theme-300) / <alpha-value>);
  --colors-400: hsl(var(--color-theme-400) / <alpha-value>);
  --colors-500: hsl(var(--color-theme-500) / <alpha-value>);
  --colors-600: hsl(var(--color-theme-600) / <alpha-value>);
  --colors-800: hsl(var(--color-theme-800) / <alpha-value>);
  --colors-900: hsl(var(--color-theme-900) / <alpha-value>);
  --colors-transparent: transparent;
  --colors-white: #FFF;
  --colors-black: #000;
  --colors-navy-50: #F1F2F3;
  --colors-navy-100: #DEE1E3;
  --colors-navy-200: #C2C7CC;
  --colors-navy-300: #B7BCBD;
  --colors-navy-400: #A1A9AF;
  --colors-navy-500: #828C95;
  --colors-navy-600: #4D5C6D;
  --colors-navy-700: #324459;
  --colors-navy-800: #172B45;
  --colors-navy-900: #1C2B43;
  --colors-red-50: #FDF3F3;
  --colors-red-100: #FCE5E4;
  --colors-red-200: #FAD0CE;
  --colors-red-300: #F6AEAB;
  --colors-red-400: #EE807B;
  --colors-red-500: #E25751;
  --colors-red-600: #D34C46;
  --colors-red-700: #AD2E28;
  --colors-red-800: #902924;
  --colors-red-900: #41100E;
  --colors-orange-50: #FEF8F1;
  --colors-orange-100: #FDF4E7;
  --colors-orange-200: #FCEBD4;
  --colors-orange-300: #F9D4A4;
  --colors-orange-400: #F6BE74;
  --colors-orange-500: #F3A845;
  --colors-orange-600: #F09114;
  --colors-orange-700: #D18B00;
  --colors-orange-800: #9E6900;
  --colors-orange-900: #6B4700;
  --colors-green-50: #F1FCF1;
  --colors-green-100: #DFF9E0;
  --colors-green-200: #C1F1C3;
  --colors-green-300: #91E494;
  --colors-green-400: #5ACE5F;
  --colors-green-500: #34B53A;
  --colors-green-600: #25942A;
  --colors-green-700: #217425;
  --colors-green-800: #1F5C22;
  --colors-green-900: #1B4C1E;
  --colors-blue-50: #EDF1FF;
  --colors-blue-100: #DDE6FF;
  --colors-blue-200: #C3CFFF;
  --colors-blue-300: #9EAFFF;
  --colors-blue-400: #7784FF;
  --colors-blue-500: #575BFD;
  --colors-blue-600: #4339F2;
  --colors-blue-700: #392CD6;
  --colors-blue-800: #2F27AC;
  --colors-blue-900: #2B2788;
  --colors-blue-950: #1B174F;
  --colors-periwinkle-50: #EDF1FF;
  --colors-periwinkle-100: #DFE4FF;
  --colors-periwinkle-200: #C5CDFF;
  --colors-periwinkle-300: #A2ABFF;
  --colors-periwinkle-400: #7D7FFC;
  --colors-periwinkle-500: #6D65F6;
  --colors-periwinkle-600: #5741EA;
  --colors-periwinkle-700: #4B33CF;
  --colors-periwinkle-800: #3D2CA7;
  --colors-periwinkle-900: #352B84;
  --colors-periwinkle-950: #21194D;
  --colors-base: hsl(var(--color-theme) / <alpha-value>);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --colors-surface: var(--colors-white);
  --colors-surface-secondary: #F8F8F8;
  --colors-text: var(--colors-black);
  --colors-text-secondary: rgba(0, 0, 0, 0.4);
  --colors-text-inverted: var(--colors-white);
  --colors-text-on-interactive-primary: var(--colors-white);
  --colors-text-on-interactive-primary-disabled: var(--colors-white);
  --colors-text-on-interactive-secondary: var(--colors-navy-900);
  --colors-text-on-interactive-secondary-disabled: var(--colors-navy-300);
  --colors-interactive-primary: var(--colors-blue-600);
  --colors-interactive-primary-hovered: var(--colors-blue-500);
  --colors-interactive-primary-pressed: var(--colors-blue-700);
  --colors-interactive-primary-disabled: rgba(195, 207, 255, 0.75);
  --colors-interactive-secondary: var(--colors-white);
  --colors-interactive-secondary-hovered: var(--colors-navy-50);
  --colors-interactive-secondary-pressed: var(--colors-navy-100);
  --colors-interactive-secondary-disabled: rgba(255, 255, 255, 0.75);
  --colors-interactive-secondary-accent: var(--colors-blue-600);
  --colors-interactive-secondary-accent-hovered: var(--colors-blue-500);
  --colors-interactive-secondary-accent-pressed: var(--colors-blue-700);
  --colors-interactive-secondary-accent-disabled: var(--colors-navy-400);
  --colors-interactive-tertiary: #F8F8F8;
  --colors-interactive-tertiary-hovered: var(--colors-navy-50);
  --colors-interactive-tertiary-pressed: var(--colors-navy-100);
  --colors-interactive-tertiary-disabled: rgba(248, 248, 248, 0.75);
  --colors-interactive-danger: var(--colors-red-600);
  --colors-interactive-danger-hovered: var(--colors-red-500);
  --colors-interactive-danger-pressed: var(--colors-red-700);
  --colors-interactive-danger-disabled: rgba(250, 208, 206, 0.75);
  --colors-border: #D1D1D1;
  --colors-canvas-bg: var(--colors-navy-100);
  --colors-slider-track: #DFDFDF;
  --colors-slider-range: var(--colors-black);
  --colors-slider-thumb-bg: var(--colors-white);
  --colors-slider-thumb-text: var(--colors-black);
  --colors-spinner-primary-arc: var(--colors-blue-600);
  --colors-spinner-primary-track: var(--colors-blue-100);
  --colors-spinner-on-interactive-arc: var(--colors-white);
  --colors-spinner-on-interactive-track: rgba(255, 255, 255, 0.4);
  --colors-toast: var(--colors-white);
  --colors-skeleton: var(--colors-navy-100);
  --colors-skeleton-shimmer1: rgba(255, 255, 255, 0);
  --colors-skeleton-shimmer2: rgba(255, 255, 255, 0.2);
  --colors-skeleton-shimmer3: rgba(255, 255, 255, 0.5);
  --colors-shadow: rgba(0, 0, 0, 0.2);
  --colors-focus-bg: rgba(64, 64, 64, 0.1);
  --colors-dialog-overlay: rgba(0, 0, 0, 0.25);
  --colors-warning: var(--colors-orange-600);
  --colors-error: var(--colors-red-600);
  --colors-success: var(--colors-green-500);
  --colors-brand-logo: var(--colors-black);
  --colors-brand-logo-bg: var(--colors-white)
}

[color-theme=dark] {
  --colors-surface: #1F1F23;
  --colors-surface-secondary: #121214;
  --colors-text: var(--colors-white);
  --colors-text-secondary: rgba(255, 255, 255, 0.4);
  --colors-text-inverted: var(--colors-black);
  --colors-interactive-primary: var(--colors-periwinkle-500);
  --colors-interactive-primary-hovered: var(--colors-periwinkle-400);
  --colors-interactive-primary-pressed: var(--colors-periwinkle-600);
  --colors-interactive-primary-disabled: rgba(53, 43, 132, 0.75);
  --colors-interactive-secondary: #1F1F23;
  --colors-interactive-secondary-hovered: #393941;
  --colors-interactive-secondary-pressed: #18181C;
  --colors-interactive-secondary-disabled: rgba(31, 31, 35, 0.75);
  --colors-interactive-secondary-accent: var(--colors-periwinkle-400);
  --colors-interactive-secondary-accent-hovered: var(--colors-periwinkle-300);
  --colors-interactive-secondary-accent-pressed: var(--colors-periwinkle-500);
  --colors-interactive-secondary-accent-disabled: var(--colors-navy-500);
  --colors-interactive-tertiary: #121214;
  --colors-interactive-tertiary-hovered: #393941;
  --colors-interactive-tertiary-pressed: #18181C;
  --colors-interactive-tertiary-disabled: rgba(18, 18, 20, 0.75);
  --colors-interactive-danger: rgba(65, 16, 14, 0.75);
  --colors-interactive-danger-disabled: rgba(65, 16, 14, 0.75);
  --colors-border: #4C4C4F;
  --colors-canvas-bg: #1F1F23;
  --colors-slider-track: #4C4C4F;
  --colors-slider-range: var(--colors-white);
  --colors-slider-thumb-bg: var(--colors-white);
  --colors-slider-thumb-text: var(--colors-black);
  --colors-spinner-primary-arc: var(--colors-periwinkle-500);
  --colors-spinner-primary-track: var(--colors-periwinkle-950);
  --colors-toast: #121214;
  --colors-skeleton: #1F1F23;
  --colors-skeleton-shimmer1: rgba(64, 64, 64, 0);
  --colors-skeleton-shimmer2: rgba(64, 64, 64, 0.2);
  --colors-skeleton-shimmer3: rgba(64, 64, 64, 0.5);
  --colors-shadow: rgba(255, 255, 255, 0.2);
  --colors-focus-bg: rgba(192, 192, 192, 0.1);
  --colors-dialog-overlay: rgba(0, 0, 0, 0.4);
  --colors-brand-logo: var(--colors-white);
  --colors-brand-logo-bg: var(--colors-black)
}
  }
  